
<div class="ABOUT">

<div class="text-2"    @myInsertRemoveTrigger *ngIf="isOpen"     >
  <h3>ABOUT THE CAFE</h3>
</div>
<div class=" text" @myInsertRemoveTrigger *ngIf="isOpen"     >
    <p>The Cafe was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.
    <p> In addition to our full espresso and brew bar menu, we serve fresh made-to-order breakfast and lunch sandwiches, as
      well as a selection of sides and salads and other good stuff.</p>
</div>
</div>

    <div class="w3-panel w3-leftbar "   @myInsertRemoveTrigger *ngIf="isOpen"  >
      <p><i>"Use products from nature for what it's worth - but never too early, nor too late." Fresh is the new sweet.</i>
      </p>
      <p>Chef, Coffeeist and Owner: Liam Brown</p>
    </div>


    <div class="cofe">
    <div  class="Opening">
      <div class="hours">
    <p><strong>Opening hours:</strong> everyday from 6am to 5pm.</p>
    <p><strong>Address:</strong> 15 Adr street, 5015, NY</p>
</div>
</div>
</div>



