/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inconsolata', sans-serif ;
}

a {
  cursor: pointer;
}

hr {
  border-bottom: 2px solid rgb(0, 0, 0);
  margin: 1.5rem 0;
}
